@import "../../../styles/mixins";

.club_card {
    border: 2px solid rgba(238, 238, 238, 0.10);
    flex: 0 0 18rem;
    // width:min(20rem , 100%);
    width: 18rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--theme-card);
button{
    @include primarybtn();
    width: 100%;
}
    header {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.profile_img {
    padding: 0.1rem 0.5rem;
    position: relative;
    margin-top: -2rem;
    @include flex_box(row , flex-start ,$gap:0rem);
    img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
    h1{
        padding: 0.2rem 0.7rem;
        border-radius: 0.5rem;
        // backdrop-filter: blur(5px);
        // background-color: rgba(23, 23, 23, 0.1);
        margin-top: 1.1rem;
        @include flex_box(row , flex-start);
        svg{
            color: var(--verify-color);
        }
    }
}
.club_info{
    padding: 0.8rem;
    // @include flex_box(row , space-between);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    p{
        padding: 0.2rem 0.5rem;
        height: 3rem;
        @include flex_box(row , flex-start);
        background-color: #1f1f25;
        border-radius: 0.4rem;
    }
}