@import "../../../../styles/mixins";

.chat_container_main{
    width: 100%;
}

.nav_top_chat{
    width: 100%;
    height: 3rem;
    position: sticky;
    top: 0%;
    background-color: rgb(62, 62, 62);
    z-index: 10;
    padding: 0.2rem 0.5rem;
    @include flex_box(row , space-between);
    border-radius: 0.3rem;
    section{
        @include flex_box(row , flex-start , center);
    }
}
.member_chat_container{
    height: calc(100% - 3rem);
    width: 100%;
    @include flex_box(row , flex-start , flex-start);
}




// chat container 
.chat_container{
    width: 100%;
    height: 100%;
    word-break: break-all;
    overflow-y: auto;
    @include scrollbar(0px , 0px);
    position: relative;
    display: flex;
    flex-direction: column;
}



// @media (max-width:$mobile) {
//     .chat_container{
//         border: 2px solid rgb(178, 14, 14);
//     }
    
// }