@import "../../../../styles/mixins";

.welcome_message_main{
    header{
        padding: 2rem 0.5rem;
        text-transform: capitalize;
        word-break: keep-all;
        h1{
            font-size: 2.4rem;
            line-height: 2.5rem;
            color: rgb(255, 255, 255);
            @include textgrad();
        }
        p{
            width: 85%;
            color: rgb(251, 251, 251);
        }
    }
}