.banner{
    // background-color: #fff;
    display:flex;
    justify-content: center;
    // background-color: #fff;
    img{
        height:60vh;
        border-radius: 20px;
    }
}
.container_info{
    display: flex;
    justify-content: center;
    .join{
        margin-top: 10px;
        padding: 0 110px;
        font-size: 1.8rem;
        width: 100%;
    }
}

.tournament_info{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:60%;
    height: 55rem;
    border-radius: 20px;
    background-color: rgba(112, 112, 112, 0.248);
    margin-top:20px;
    margin-bottom:20px;
    padding:10px
}

.organizer_info{
    background-color: #15151a;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:40%;
    height:10rem;
    border-radius: 20px;
    border:5px solid var(--primary-color);
    box-shadow:1px 1px 25px var(--primary-color);
    padding:10px;
    .info{
        background-color: #1f1f27;
        padding-left:8px;
        padding-right:8px;
        border-radius: 10px;
        margin: 4px;
    }
    img{
        width:50px;
        float:left;
    }
    button{
        padding-right:8px;
        padding-left:8px;
    }
}

.tournament_details{
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 20px;
    div{
        width: 190px;
        height:80px;
        background-color: #2a2a30;
        border-radius: 15px;
        img{
            width: 70px;
        }
        h1{
            text-align: center;
            position: relative;
            top: -60px;
            left: 20px;
            font-size: 1.5rem;
        }
    }
}
.top_player_joined{
    width: 50%;
    height: 15rem;
    background-color: #2a2a30;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span{
        background-color: rgba(255, 255, 255, 0.128);
        width: 100%;
        text-align: center;
        backdrop-filter: blur(60px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    div{
        margin-top: 4px;
        width: 80%;
        display: flex;
        // justify-content: baseline;
        gap: 10px;
        background-color: #15151a;
        padding: 7px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px rgba(121, 119, 119, 0.3);
        img{
            width: 50px;
            // padding:10px 11px;
        }
    }
}

.description{
    background-color: #2a2a30;
    width: 50%;
    max-height: 10rem;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.tags{
    display: flex;
    flex-direction: row;
    gap: 8px;
    div{
        background-color: #000000;
        padding: 0 8px;
        max-width: 150px;
        max-height:30px ;
        border-radius: 10px;
    }
}

.ads{
    background-color: #faf8f8;
    width: 50%;
    margin-top: 10px;
    height:100px;
    border-radius: 10px;
    // position: relative;
    // left: 150px;
    // top: 50px;
    h1{
        text-align: center;
        font-size: 2rem;
        color: #000;
    }
}