@import "../../../styles/mixins";


// to featured games
.top_featured_container{
    margin: 1rem auto;
    padding: 1rem 0rem;
    @include flex_box(column , flex-start , flex-start , 1rem);
    text-transform: capitalize;
    header{
        h2{
            font-size: clamp(1.5rem , calc(1rem + 1vw) , 3rem);
            @include textgrad();
        }
    }
}

.crausal_container{
    @include flex_box(row , flex-start , $gap:1.5rem);
    width: 100%;
    overflow-x: scroll;
    @include scrollbar();
}
.item{
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.568);
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.30s ease;
    flex: 0 0 10rem;
    width: 10rem;
    aspect-ratio: 1/1;
    @include  mobile(){
        flex: 0 0 12rem;
        width: 12rem;
    }
    img{
        transition: 0.30s ease;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    div{
        transition: 0.30s ease;
        height: 100%;
        position: relative;
        background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
        z-index: 2;
        opacity: 0;
        p , svg{
            margin-top: auto;
        }
    }
    &:hover{
        div{
            padding: 0.5rem;
            @include flex_box(row , space-between);
            opacity: 1;
        }
        img{
            transform: scale(1.1);
        }
    }
    @include mobile(){
        div{
            padding: 0.5rem;
            @include flex_box(row , space-between);
            opacity: 1;
        }
        img{
            transform: scale(1.1);
        }
    }
}
// top featured tournament



// top featured club style
.club_item{
    @include flex_box(row , flex-start);
    margin: 0.5rem;
    padding: 1rem;
    background-color: var(--theme-card);
    border-radius: 0.5rem;
    box-shadow: -7px -2px 10px rgba(89, 115, 241, 0.1),
    7px 5px 20px rgba(0, 0, 0, 0.7);
    flex: 0 0 20rem;
    width: 20rem;
    position: relative;
    overflow: hidden;
    @include mobile(){
        flex: 0 0 15rem;
        width: 15rem;

    }
    img{
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 50%;
    }
    div{
        width: 100%;
        h1{
    @include textwrap(1);
        }
        p{
            @include flex_box(row , flex-start);
        }
        button{
            @include primarybtn();
            background-color: var(--primary-color);
            padding: 0.4rem 0rem 2.3rem;
            bottom: -1rem;
            right: -3rem;
            position: absolute;
            width: 8rem;
            transform: rotate(-45deg);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            opacity: 0.9;
            &:hover{
                opacity: 1;
            }
        }
    }
}



