@import "../../styles/mixins";


.notification_main_container{
    height: min(50rem , 70%);
    width: min(30rem , 90%);
    // padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(43, 43, 43, 0.826);
    backdrop-filter: blur(20px);
    overflow: hidden;
    overflow-y: auto;
    @include scrollbar();
    position: relative;
    header{
        z-index: 10;
        padding: 0.5rem 1rem;
        border-bottom: 2px;
        position:sticky;
        top: 0;
        border-bottom: 2px solid rgba(168, 168, 168, 0.589);
        background-color: inherit;
        backdrop-filter: blur(50px);
        @include flex_box(row , space-between);
        h1{
            text-transform: capitalize;
            @include textgrad();
            @include fontsize();
        }
        button{
            padding: 0.1rem 0.4rem;
            opacity: 0.9;
            @include flex_box($gap:0.1rem);
            &:hover{
                opacity: 1;
            }
        }
    }
}

.clearnotification{
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    backdrop-filter: blur(50px);
    width: fit-content;
    position: sticky !important;
    bottom: 1rem;
    @include flex_box();
    // z-index: 11;
    background-color:rgba(var(--secondry-color-rgb) , 0.6);
}


.notification{
    padding: 0.5rem;
    margin: 0.7rem auto;
    border-radius: 0.4rem;
    background-color: rgba(54, 56, 40, 0.961);
    width: 94%;
    @include flex_box(row , flex-start);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.8);
    img{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
    }
    div{
        display: flex;
        flex-direction: column;
        p{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.2rem;
            opacity: 0.9;
        }
        span{
            font-size: 0.8rem;
            opacity: 0.7;
        }
    }
}