@import "../../../styles/mixins";

.auth_main_container{
    height: 100%;
    margin: 0rem auto;
    height: calc(100vh - var(--nav-height) - 2rem);
    @include flex_box()
}

.image_authentication{
    position: relative;
    width: 35%;
    div{
        padding: 0.5rem;
        position: absolute;
        top: 30%;
        z-index: 11;
        background-color: rgba(14, 14, 14, 0.1);
        backdrop-filter: blur(3px);
    }
    img{
        object-fit: cover;
        width: 100%;
        height: fit-content;
        object-fit: cover;
        filter: drop-shadow(1px 1px 10px green);
    }
}

.auth_card_ui{
    transition: 0.30s ease;
    width: min(25rem ,50%);
    height: max-content;
    position: relative;
    overflow: hidden;
    padding: 0.3rem;
    &::before , &::after{
        top: -50%;
        left: -50%;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient( 0deg,transparent , rgb(15, 234, 198) , rgb(0, 255, 238));
        pointer-events: none;
        // transform: rotate(45deg) ;
        transform: rotate(0deg);    
        transform-origin: bottom right;
        transition: 1s ease;
        animation: animate 6s linear infinite;
    }
    &::before{
        transform: rotate(180deg);
        animation-delay: -3s;
    }
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.auth_card{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem;
    z-index: 10;
    background-color: var(--theme-card);
    header{
        @include flex_box();
    }
    nav{
        list-style: none;
        padding: 0.3rem 1rem;
        @include flex_box(row , space-between);
        li{
            font-size: 1.1rem;
            transition: 0.30s ease;
            cursor: pointer;
            text-transform: capitalize;
            &:not(.active){
                font-size: 0.9rem;
                transform: scale(0.8);
                opacity: 0.7;
                &:hover{
                    transform: scale(1);
                    opacity: 0.9;
                }
            }
        }
        .active{
            padding: 0rem 0.5rem;
            border-bottom: 2px solid var(--primary-color);
        }
    }
}

//  login signup ui
.auth_form{
    padding: 0.5rem 0rem;
    width: 100%;
    @include flex_box(column);
    button{
        width: min(10rem , 90%);
    }
}
.form_input_box{
    width: 90%;
    @include flex_box($gap:0rem);
    svg{
        opacity: 0.8;
    }
    input{
        padding: 0.5rem;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 0.2rem;
        border-bottom: 2px solid var(--primary-color);
        background-color: inherit;
        // background-color: rgba(255, 255, 255, 0.1);
        &::placeholder{
            text-transform: capitalize;
        }
    }
}