@import "./mixins";

.page_view{
    display: flex;
    gap: 1.5rem;
    height: 100vh;
    @include scrollbar();
    .page_view_section{
        overflow-y: scroll;
        flex: 1 1 auto;
        @include scrollbar(0,0);
        z-index: 2;
        max-width: 100vw;
    }
}
@media (max-width:650px) {
    .page_view{
        .page_view_section{
            padding: 4rem 0.4rem;
            padding-bottom: 4rem;
        }
    }
}