@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&family=Nerko+One&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// variable

:root{
  // --theme-bg: rgb(36, 49, 62);
  --theme-bg: #030406;
  --theme-color: rgb(233, 233, 233);
  --theme-color-dark: rgb(168, 168, 168);
  --theme-box: rgb(12, 12, 13);
  // --theme-nav: #151511cb;
  // --theme-nav: #151511cb;
  --theme-nav: #000;
  --theme-card: #0d0d0d;
  --gradient-shadow: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
  
  --black-rgb: 1, 1, 1;

  // --primary-color:rgb(4, 172, 198);
  --primary-color:rgb(68, 116, 195,0.8);
  --primary-color-rgb: 74, 138, 241;

  --secondry-color: rgb(15, 234, 198);
  --secondry-color-rgb: 15, 234, 198;

  --link-color: rgb(35, 112, 254);
  
  // colors
  --white: rgba(239, 239, 239);
  --black: rgb(10, 10, 10);

  // height and width variables
  --nav-height: 3.5rem;

  // verify batch colors
  --verify-color: rgb(20, 130, 255);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 16px;
  user-select: none;
  height: 100%;
}
body{
  font-family: 'Changa', sans-serif;
  background-color: var(--theme-bg);
  color: var(--theme-color);
  width: 100vw;
  overflow-x: hidden;
  word-wrap: break-word;
  // word-break: break-all;
  height:auto!important;
  min-height:100vh;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar{
  width: 0px;
  height:2rem;
}

a{
  font-weight: 700;
  color: var(--link-color);
  text-decoration: none;
  transition: 0.30s ease;
  border-radius: 0.35rem;
}
button{
  font: inherit;
  cursor: pointer;
  transition: 0.30s ease;
}
button:hover{
  transition: 0.30s ease;
}
input , textarea{
  // font-family: inherit;
  transition: 0.30s ease;
  color: inherit;
  &::placeholder{
    text-transform: capitalize;
    transition: 0.30s ease;
    opacity: 0.7;
    color: inherit;
  }
  &:focus{
    &::placeholder{
      opacity: 0.5;
    }
    
  }
}